.conveyorBeltContainer {
  display: flex;
  justify-content: center;
}

.conveyorBelt {
  width: 108rem;
  max-width: 108rem;
  margin: 0 4rem;

  display: flex;
  gap: 1rem;

  overflow-x: hidden;
}

.techBadge {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1rem;

  border-radius: 10px;
  height: 8rem;
  width: min-content;
  padding: 0 5rem;

  background-color: #111822;
  color: #898f99;

  font-size: 1.6rem;
  font-weight: 400;
  white-space: nowrap;
}
