#landingContainer {
  height: 100vh;
  max-height: 93rem;
  width: 100%;
  padding: 0 4rem;
  border-radius: 0 0 50px 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #1b2635;
  overflow: hidden;
}

#heroContainer {
  width: 110rem;
  max-width: 110rem;

  display: flex;
  position: relative;
}

#heroContent {
  max-width: 58rem;

  display: flex;
  flex-direction: column;
  gap: 3rem;

  z-index: 1;
}

.fireText {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;

  background: linear-gradient(180deg, #ee8e6b 20%, #fe5f75 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btnGroup {
  margin-top: 1.5rem;

  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
