#phoneContainer {
  position: absolute;
  top: 10%;
  right: 0;
  bottom: 0;
  left: 12%;
  margin: auto;

  height: 1509px;
  width: 1509px;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  z-index: 0;
}

#phoneGlass {
  position: absolute;
  top: 0;
  right: 3%;
  bottom: 5%;
  left: 0;

  margin: auto;

  z-index: -1;
  will-change: transform;
  animation: glassLevitate 3s ease-in-out 1s infinite alternate;
}

#phoneShell {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;

  z-index: -2;
}

#orangeFlare {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: -3;
}

#bubble {
  position: absolute;
  top: 0;
  right: 31%;
  bottom: 33%;
  left: 0;
  margin: auto;

  will-change: transform;
  animation: bubbleLevitate 3s ease-in-out 1s infinite alternate;
}

#chart {
  position: absolute;
  top: 15%;
  right: 0;
  bottom: 0;
  left: 38%;
  margin: auto;

  will-change: transform;
  animation: chartLevitate 3s ease-in-out 1s infinite alternate;
}

#bell {
  position: absolute;
  top: 24%;
  right: 40%;
  bottom: 0;
  left: 0;
  margin: auto;

  will-change: transform;
  animation: bellLevitate 3s ease-in-out 1s infinite alternate;
}

@keyframes glassLevitate {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-25px, -25px);
  }
}

@keyframes bubbleLevitate {
  from {
    transform: translateY(0) rotate(0);
  }

  to {
    transform: translateY(-15px) rotate(8deg);
  }
}

@keyframes bellLevitate {
  from {
    transform: translateY(0) rotate(0);
  }

  to {
    transform: translateY(20px) rotate(-10deg);
  }
}

@keyframes chartLevitate {
  from {
    transform: translateY(0) rotate(0);
  }

  to {
    transform: translateY(-18px) rotate(-9deg);
  }
}
