#phoneContainer {
  position: absolute;
  top: auto;
  right: 0;
  height: 880px;
  width: 400px;
}

#phoneGlass {
  position: absolute;
  top: 110px;
  left: 20px;
  z-index: -1;

  animation: glassLevitate 4s ease 1s infinite alternate;
}

@keyframes glassLevitate {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(-25px, -25px);
  }
}

#phoneShell {
  position: absolute;
  top: 0;
  right: -180px;
  z-index: -5;
}
