#layoutContainer {
  display: flex;
  justify-content: center;
  padding: 0 2rem;

  overflow-x: hidden;
}

#landingContainer {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 108rem;
}

#copyContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 58em;
}

.fireH1 {
  font-size: 6.4rem;
  line-height: 110%;
  font-weight: 700;

  background: linear-gradient(180deg, #ee8e6b 20%, #fe5f75 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#orangeFlare {
  position: absolute;
  top: 50;
  left: 115px;
  z-index: -99;
}
